*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    }
.body{
    width: 100vw;
    height: 100vh;
}
.hero{
    background-color: whitesmoke;
}
.page1{
    /* width: 100%; */
    height: 585px;
    /* margin-bottom:60px; */
    padding-left:140px;
    padding-right:140px;
    /* background-color: aqua; */
}
.nav{
    height: 104px;
    /* background-color: burlywood; */
    margin: auto;
}
.menu{
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}
.Pay{
    height: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
}
.gradient{
    height: 25px;
    background: linear-gradient(90deg,#019FFB, #E44CBB, #F55BE4,#FD8C1F);
    backdrop-filter: blur(50px);
}
.store{
    height: 100px;
    /* background-color: #F55BE4; */
    display:flex;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content:space-between;
}
.opacity{
    opacity: 0.5;
}
.gift{
    height: 52px;
    font-size: 44px;
    display: flex;
    /* background-color: #E44CBB; */
}
.gradient_store{
    background: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-right:32px;
}
.help{
    height: 100px;
    width: 226px;
    display: flex;
    gap: 4px;
}
.photo{
    height: 35px;
    width: 35px;
}
.ask{
    width:175px;
    height: 100px;
    margin-left: 16px;
    /* background-color: #FD8C1F; */
    display: flex;
    flex-direction: column;
}
.products{
    height:146px;
    /* background-color: #F2416B; */
    display: flex;
    flex-shrink: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}
.product_photo{
height: 100%;
width: 136px;
/* background-color: bisque; */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-left: 12px;
}
.Products__font{
    padding-top: 16px;
    font-weight: bold;
}
.page2{
 height: 558px;
 /* background-color: #d3fc62; */
 padding-left: 140px;
 padding-right:140px;
 margin-bottom: 60px;
}
.title{
    width:fit-content;
    height: 34px;
    font-size: 24px;
    display: flex;
    margin-bottom:24px;
}
.gradient_latest{
 background: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
 /* width: 120px; */
 margin-right: 8px;
}
.photo_cover{
    width: 100%;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-shrink: 0;
}
.page2_photo{
    width: 480px;
    height: 500px;
    position: relative;
}
.page2_photo1{  
    width: 480px;
    height: 500px;
    border-radius: 18px;
}
.version_title{
    width: 322px;
    height: 88px;
    /* background-color: #BA62FC; */
    position: absolute;
    top:30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.version_apple{
    color:#B64400;
    font-size: 12px;
}
.version_iphone{
    font-size: 26px;
    font-weight: bold;
}
.version_mo{
    font-size: 18px;
    opacity: 0.6;
}
.page3{
    height: 558px;
    margin-bottom:60px ;
    padding-left: 140px;
    padding-right:140px;
    /* background-color: #B64400; */
}
.page3_photo{
    position: relative;
}
.page3_photo1{
    width: 400px;
    height: 500px;
    border-radius: 18px;
}
.make{
    width: 197px;
    height: 66px;
    position: absolute;
    left: 30px;
    top: 53px;
    font-size: 26px;
    font-weight: bold;
}
.page3_photo2{
   width: 313px; 
   height: 500px;
   border-radius: 18px;
   background-color:white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.page3_free{
    width: 257px;
    height: 109px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:28px;
    /* background-color: #B64400; */
}
.free{
    font-size: 12px;
    color:#B64400;
    margin-bottom: 6px;
}
.Purple{
    font-size:18px;
    font-weight: bold;
    margin-bottom: 42px;
}
.price{
 opacity: 0.7;
}
.page3_hide{
    visibility: hidden;
}
.page3_price{
position: relative;
bottom: 20px;
}
.page4_make{
    width: 326px;
}
.page4_price{
    position: relative;
    top: 20px;
}
.page5_make{
    width: 305px;
    height: 130px;
}

.page5_photo{
    width: 313px;
    height: 500px;
}
.text1{
    width: 100%;
    height:240px;
    margin-bottom: 20px;
    background-color:white;
    border-radius:18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text2{
    background-color:white;
    border-radius:18px;
    width: 100%;
    height:240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page5_create{
    width: 238px;
    height: 84px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}
.page5_create2{
    width:244px;
    height: 112px;
}
.apple_trade{
    width: 131px;
    height: 14px;
    font-size: 12px;
    opacity: 0.5;
    position: absolute;
    bottom:470px;
    left: 30px;
}
.page6_apple{
    bottom:150px;
    left: 10px;
}
.page6_include{
    font-size: 17px;
    opacity: 0.5;
    margin-top: 5px;
}
.page6_make{
    color: white;
}
.page6_tv{
    color: white;
    opacity: 1;
}
.page7_opacity{
    width:620px;
    height: 34px;
}
.page7_title{
    margin-bottom: 34px;
}
.page7_trade{
    width: 148px;
    height: 16px;
}
.footer{
    height: 96px;
    padding-left: 140px;
    padding-right:140px;
    margin-bottom: 100px;
    /* background-color: #019FFB; */

}
.quick{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 24px;
}
.order{
    width: 125px;
    height: 40px;
    border: 2px solid black;
    border-radius:20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}
.footer1{
    display: flex;
    gap: 12px;
}